<?xml version="1.0" encoding="UTF-8"?>
<manifest
    package="com.meituan.robust"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.meituan.robust.patch.resources.service.RobustRecoverService"
            android:exported="false"
            android:process=":robust"/>
    </application>
</manifest>
